body {
  background-color: #181818;
}

.breadcrumb {
  background-color: black;
}

.card {
  background-color: skyblue;
  width: 15rem;
  height: 25rem;
}

.artist {
  font-weight: bolder;
}

.title {
  font-size: 2em;
}

.label {
  font-weight: oblique;
}

#aenima-review {
  margin-top: 50px;
  margin-left: 10px;
  height: 10vh;
  background-color: skyblue;
}

div img {
  width: 250px;
}

p {
  text-align: justify;
  background-color: white;
}

.badge {
  display: block;
  width: 90%;
}

.jumbotron {
  background-color: lightgrey;
  background: url("./pics/jesus_lizard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.jumbotron > .container {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#card-container {
  display: flex;
  flex-grow: 1;
  margin-left: 50px;
}
